<h1 class="w3-text-teal"><%= @user.name %></h1><h2>here are your sightings!</h2><h4> Feel free to edit or delete as needed.</h4>

<% if @user_sightings.empty? == false %>
    <%= @users_sightings.each do |us| %>
      <li><%= link_to(us.location, sighting_path(us)) %> - <%= us.date_spotted %></li>
    <% end %>
<% else %>
    <h2 class="w3-text-teal"> - No Sightings Recorded - </h2>
<% end %>