
<h3 class="w3-text-teal">Meet The... </h3>
<h1><%= @species %>!</h1>

<%# put an image link here ?! %>

<%= link_to 'All sightings of this bird', bird_sightings_path(@bird) %><br>
<%= link_to 'Add a new sighting of this bird', new_bird_sighting_path(@bird.species) %>


